In [22]:
# Dependencies
from bs4 import BeautifulSoup as bs
from splinter import browser
import pandas as pd
import requests

In [23]:

# executable path to driver 

executable_path = {'executable_path': 'chromedriver'}

browser = Browser('chrome', **executable_path, headless=False)


# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [30]:

#scraping data from the NASA Mars News Site
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)
soup = bs(response.text,'html.parser')
#collecting the latest news title and paragraph text
news_title = soup.find('div', class_= "content_title").find('a').text
news_parag = soup.find('div', class_= "rollover_description_inner").text

Alabama High School Student Names NASA's Mars Helicopter



Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

In [33]:

# Printing Title and Paragraph like example

print(f"Title:\n\n{news_title}")
print("\n----------------------------------------------------------\n")
print(f"Paragraph:\n\n{news_parag}")

# browser.quit(

Title:


Alabama High School Student Names NASA's Mars Helicopter


----------------------------------------------------------

Paragraph:


Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

In [31]:

#visiting the URL for the JPL Featured Space Image through splinter
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [32]:


#creating HTML object and parsing
html_image = browser.html
soup = bs(html_image, 'html.parser')

#retreieve the sub-url to the background image
featured_image_sub_url = soup.find('div',class_='carousel_items')('article')[0]['style'].\
    replace('background-image: url(','').replace(');','')[1:-1]

#main_url
main_url = 'https://www.jpl.nasa.gov'

#creating the full url 
featured_image_url = main_url + featured_image_sub_url

#print results
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17440-1920x1200.jpg

In [48]:
# Setting up windows browser with chromedriver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url='https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html=browser.html
soup=bs(html,'html.parser')

In [2]:
html=browser.html
soup=bs(html,'html.parser')

NameError: name 'browser' is not defined

In [1]:



# Scrape the tweet info
first_tweet = soup.find('p', class_='TweetTextSize').text
first_tweet

NameError: name 'soup' is not defined

In [54]:

facts_url = 'http://space-facts.com/mars/'

browser.visit(facts_url)

In [55]:

mars_facts = pd.read_html(facts_url)

mars_df = mars_facts[0]

mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [56]:
mars_df = mars_df.rename(columns={0 : "Attribute", 1 : "Value"}).\
set_index(["Attribute"])

mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Attribute</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [57]:
# data = mars_df.to_dict(orient='records')

mars_df

                                              Value
Attribute
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [58]:
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(hemispheres_url)

In [59]:
html_hemispheres = browser.html

soup = bs(html_hemispheres, 'html.parser')

In [61]:
items = soup.find_all('div', class_='item')

hemisphere_image_urls = []

hemispheres_main_url = 'https://astrogeology.usgs.gov'

for item in items: 
   
    title = item.find('h3').text
    
    image_url = item.find('a', class_='itemLink product-item')['href']

    browser.visit(hemispheres_main_url + image_url)

    image_html = browser.html

    soup = bs( image_html, 'html.parser')

    image_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']

    hemisphere_image_urls.append({"Title" : title, "Image_URL" : image_url})

# hemisphere_image_urls

In [62]:

hemisphere_image_urls

[{'Title': 'Cerberus Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'Title': 'Schiaparelli Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'Title': 'Syrtis Major Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'Title': 'Valles Marineris Hemisphere Enhanced',
  'Image_URL': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [63]:
# print(f"HEMISPHERE IMAGE URLS:\n{hemisphere_image_urls[0]}\n{hemisphere_image_urls[1]}\n{hemisphere_image_urls[2]}\n{hemisphere_image_urls[3]}")
print(f"Hemisphere Image URLs")
print()
print("-------------------------------------------------")
print()
print(f"Cerberus Hemisphere Enhanced:\n{hemisphere_image_urls[0]}")
print()
print(f"Schiaparelli Hemisphere Enhanced:\n{hemisphere_image_urls[1]}")
print()
print(f"Syrtis Major Hemisphere Enhanced:\n{hemisphere_image_urls[2]}")
print()
print(f"Valles Marineris Hemisphere Enhanced:\n{hemisphere_image_urls[3]}")

Hemisphere Image URLs

-------------------------------------------------

Cerberus Hemisphere Enhanced:
{'Title': 'Cerberus Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}

Schiaparelli Hemisphere Enhanced:
{'Title': 'Schiaparelli Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}

Syrtis Major Hemisphere Enhanced:
{'Title': 'Syrtis Major Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}

Valles Marineris Hemisphere Enhanced:
{'Title': 'Valles Marineris Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}