In [18]:

# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd

In [19]:
# Create Splinter browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [20]:

# Access and visit the NASA Mars News Site URL
news_url = 'https://mars.nasa.gov/news/'
browser.visit(news_url)

In [28]:
# HTML object
html = browser.html

# Parse HTML with BeautifulSoup
soup = bs(html, 'html.parser')

# Retrieve all elements that contain news title
latest_news = soup.find_all('div', class_="list_text")

# Get the latest news    
news = latest_news[0]

# Use BeautifulSoup'find() method to navigate and retrieve attributes
news_title = news.find('div', class_="content_title").text
news_p = news.find('div', class_="article_teaser_body").text

# display information
print(f"Title:\n\n{news_title}")
print("\n----------------------------------------------------------\n")
print(f"Paragraph:\n\n{news_p}")

IndexError: list index out of range

In [24]:

# Access and visit the JPL Mars Space Images URL
featured_img_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(featured_img_url)

In [25]:
# HTML object
img_html = browser.html

# Parse HTML with BeautifulSoup
soup = BeautifulSoup(img_html, 'html.parser')

#full_click=browser.find_by_id('full_image')
#full_click.click()

# Retrieve Featured Mars Image url from style tag 
featured_image_url  = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

# Put the website url together with the features image url
featured_image_url = 'https://www.jpl.nasa.gov' + featured_image_url

# Display full link to featured image
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA16919-1920x1200.jpg'

In [29]:

# Access and visit Mars Weather twitter URL
mars_twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(mars_twitter_url)

In [30]:
# HTML object
twitter_marswx_html = browser.html

# Parse HTML with BeautifulSoup
soup = BeautifulSoup(twitter_marswx_html, 'html.parser')

# Get the text from the latest Mars weather tweet
mars_weather = soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

# Display the tweet text
mars_weather

AttributeError: 'NoneType' object has no attribute 'text'

In [31]:

# Access and visit the Mars facts webpage
mars_facts_url = 'https://space-facts.com/mars/'

In [33]:

# Get any tabular data from the webpage
facts_tables = pd.read_html(mars_facts_url)
facts_tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [34]:

# Datatype of facts_tables
type(facts_tables)

list

In [35]:
# Slice off the dataframe that we want usin normal indexing
facts_df = facts_tables[0]
facts_df.columns = ['Description', 'Value']

# Preview the Dataframe
facts_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [36]:
# Set the index to the `Fact` column
facts_df.set_index('Description', inplace=True)
facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [37]:


# Convert the Dataframe to HTML
html_table = facts_df.to_html()

# Preview of the html_table
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [56]:
mars_df = mars_df.rename(columns={0 : "Attribute", 1 : "Value"}).\
set_index(["Attribute"])

mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Attribute</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [38]:
# Strip unwanted newlines to clean up the table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [39]:
mars_hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(mars_hemis_url)
xpath = '//div//a[@class="itemLink product-item"]/img'

# Use splinter to Click the image to bring up the full resolution image
results = browser.find_by_xpath(xpath)

# Initiate hemisphere_image_urls list
hemisphere_image_urls = []

# Loop over results to get image data
for i in range(len(results)):
    img = results[i]
            
    img.click()
    
    # Scrape the browser into soup and use soup to find the full resolution image of mars
    # Save the image url to a variable called `img_url`
    mars_usgs_html = browser.html
    soup = BeautifulSoup(mars_usgs_html, 'html.parser')
    partial_img_url = soup.find("img", class_="wide-image")["src"]
    
    img_url = 'https://astrogeology.usgs.gov/' + partial_img_url
    
    # Scrape the browser into soup and use soup to find the title of the image
    # Save the image's title to a variable called `img_title`
    img_title = soup.find('h2', class_="title").text
    
    # Get the data into a dictionary
    img_dict = {
        'img_url': img_url,
        'img_title': img_title
    }
    # Append image dictionaries to the list
    hemisphere_image_urls.append(img_dict)

    browser.back()
    results = browser.find_by_xpath(xpath)
    i = i + 1
    
# Display hemispheres' images list
hemisphere_image_urls

[]

In [42]:
# print(f"HEMISPHERE IMAGE URLS:\n{hemisphere_image_urls[0]}\n{hemisphere_image_urls[1]}\n{hemisphere_image_urls[2]}\n{hemisphere_image_urls[3]}")
print(f"Hemisphere Image URLs")
print()
print("-------------------------------------------------")
print()
print(f"Cerberus Hemisphere Enhanced:\n{hemisphere_image_urls[1]}")
print()
print(f"Schiaparelli Hemisphere Enhanced:\n{hemisphere_image_urls[1]}")
print()
print(f"Syrtis Major Hemisphere Enhanced:\n{hemisphere_image_urls[2]}")
print()
print(f"Valles Marineris Hemisphere Enhanced:\n{hemisphere_image_urls[2]}")

Hemisphere Image URLs

-------------------------------------------------

IndexError: list index out of range